// For components
$size-0: 0rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.25rem;
$size-5: 1.5rem;
$size-6: 2rem;
$size-auto: auto;
$size-full: 100%;

// For responsive
$screen-xs: 480px;
$screen-s: 768px;
$screen-m: 1024px;
$screen-l: 1200px;
$screen-xl: 1400px;