@import "sizes";

.gap-0 { gap: $size-0 !important; }
.gap-1 { gap: $size-1 !important; }
.gap-2 { gap: $size-2 !important; }
.gap-3 { gap: $size-3 !important; }
.gap-4 { gap: $size-4 !important; }
.gap-5 { gap: $size-5 !important; }
.gap-6 { gap: $size-6 !important; }

.gap-v-0 { row-gap: $size-0 !important; }
.gap-v-1 { row-gap: $size-1 !important; }
.gap-v-2 { row-gap: $size-2 !important; }
.gap-v-3 { row-gap: $size-3 !important; }
.gap-v-4 { row-gap: $size-4 !important; }
.gap-v-5 { row-gap: $size-5 !important; }
.gap-v-6 { row-gap: $size-6 !important; }

.gap-h-0 { column-gap: $size-0 !important; }
.gap-h-1 { column-gap: $size-1 !important; }
.gap-h-2 { column-gap: $size-2 !important; }
.gap-h-3 { column-gap: $size-3 !important; }
.gap-h-4 { column-gap: $size-4 !important; }
.gap-h-5 { column-gap: $size-5 !important; }
.gap-h-6 { column-gap: $size-6 !important; }

.p-0 { padding: $size-0 !important; }
.p-1 { padding: $size-1 !important; }
.p-2 { padding: $size-2 !important; }
.p-3 { padding: $size-3 !important; }
.p-4 { padding: $size-4 !important; }
.p-5 { padding: $size-5 !important; }
.p-6 { padding: $size-6 !important; }
.p-auto { padding: $size-auto !important; }

.p-v-0 {
    padding-top: $size-0 !important;
    padding-bottom: $size-0 !important;
}

.p-v-1 {
    padding-top: $size-1 !important;
    padding-bottom: $size-1 !important;
}

.p-v-2 {
    padding-top: $size-2 !important;
    padding-bottom: $size-2 !important;
}

.p-v-3 {
    padding-top: $size-3 !important;
    padding-bottom: $size-3 !important;
}

.p-v-4 {
    padding-top: $size-4 !important;
    padding-bottom: $size-4 !important;
}

.p-v-5 {
    padding-top: $size-5 !important;
    padding-bottom: $size-5 !important;
}

.p-v-6 {
    padding-top: $size-6 !important;
    padding-bottom: $size-6 !important;
}

.p-v-auto {
    padding-top: $size-auto !important;
    padding-bottom: $size-auto !important;
}

.p-h-0 {
    padding-left: $size-0 !important;
    padding-right: $size-0 !important;
}

.p-h-1 {
    padding-left: $size-1 !important;
    padding-right: $size-1 !important;
}

.p-h-2 {
    padding-left: $size-2 !important;
    padding-right: $size-2 !important;
}

.p-h-3 {
    padding-left: $size-3 !important;
    padding-right: $size-3 !important;
}

.p-h-4 {
    padding-left: $size-4 !important;
    padding-right: $size-4 !important;
}

.p-h-5 {
    padding-left: $size-5 !important;
    padding-right: $size-5 !important;
}

.p-h-6 {
    padding-left: $size-6 !important;
    padding-right: $size-6 !important;
}

.p-h-auto {
    padding-left: $size-auto !important;
    padding-right: $size-auto !important;
}

.p-l-0 {
    padding-left: $size-0 !important;
}

.p-l-1 {
    padding-left: $size-1 !important;
}

.p-l-2 {
    padding-left: $size-2 !important;
}

.p-l-3 {
    padding-left: $size-3 !important;
}

.p-l-4 {
    padding-left: $size-4 !important;
}

.p-l-5 {
    padding-left: $size-5 !important;
}

.p-l-6 {
    padding-left: $size-6 !important;
}

.p-l-auto {
    padding-left: $size-auto !important;
}

.p-r-0 {
    padding-right: $size-0 !important;
}

.p-r-1 {
    padding-right: $size-1 !important;
}

.p-r-2 {
    padding-right: $size-2 !important;
}

.p-r-3 {
    padding-right: $size-3 !important;
}

.p-r-4 {
    padding-right: $size-4 !important;
}

.p-r-5 {
    padding-right: $size-5 !important;
}

.p-r-6 {
    padding-right: $size-6 !important;
}

.p-r-auto {
    padding-right: $size-auto !important;
}

.p-t-0 {
    padding-top: $size-0 !important;
}

.p-t-1 {
    padding-top: $size-1 !important;
}

.p-t-2 {
    padding-top: $size-2 !important;
}

.p-t-3 {
    padding-top: $size-3 !important;
}

.p-t-4 {
    padding-top: $size-4 !important;
}

.p-t-5 {
    padding-top: $size-5 !important;
}

.p-t-6 {
    padding-top: $size-6 !important;
}

.p-t-auto {
    padding-top: $size-auto !important;
}

.p-b-0 {
    padding-bottom: $size-0 !important;
}

.p-b-1 {
    padding-bottom: $size-1 !important;
}

.p-b-2 {
    padding-bottom: $size-2 !important;
}

.p-b-3 {
    padding-bottom: $size-3 !important;
}

.p-b-4 {
    padding-bottom: $size-4 !important;
}

.p-b-5 {
    padding-bottom: $size-5 !important;
}

.p-b-6 {
    padding-bottom: $size-6 !important;
}

.p-b-auto {
    padding-bottom: $size-auto !important;
}

.m-0 { margin: $size-0 !important; }
.m-1 { margin: $size-1 !important; }
.m-2 { margin: $size-2 !important; }
.m-3 { margin: $size-3 !important; }
.m-4 { margin: $size-4 !important; }
.m-5 { margin: $size-5 !important; }
.m-6 { margin: $size-6 !important; }
.m-auto { margin: $size-auto !important; }

.m-v-0 {
    margin-top: $size-0 !important;
    margin-bottom: $size-0 !important;
}

.m-v-1 {
    margin-top: $size-1 !important;
    margin-bottom: $size-1 !important;
}

.m-v-2 {
    margin-top: $size-2 !important;
    margin-bottom: $size-2 !important;
}

.m-v-3 {
    margin-top: $size-3 !important;
    margin-bottom: $size-3 !important;
}

.m-v-4 {
    margin-top: $size-4 !important;
    margin-bottom: $size-4 !important;
}

.m-v-5 {
    margin-top: $size-5 !important;
    margin-bottom: $size-5 !important;
}

.m-v-6 {
    margin-top: $size-6 !important;
    margin-bottom: $size-6 !important;
}

.m-v-auto {
    margin-top: $size-auto !important;
    margin-bottom: $size-auto !important;
}

.m-h-0 {
    margin-left: $size-0 !important;
    margin-right: $size-0 !important;
}

.m-h-1 {
    margin-left: $size-1 !important;
    margin-right: $size-1 !important;
}

.m-h-2 {
    margin-left: $size-2 !important;
    margin-right: $size-2 !important;
}

.m-h-3 {
    margin-left: $size-3 !important;
    margin-right: $size-3 !important;
}

.m-h-4 {
    margin-left: $size-4 !important;
    margin-right: $size-4 !important;
}

.m-h-5 {
    margin-left: $size-5 !important;
    margin-right: $size-5 !important;
}

.m-h-6 {
    margin-left: $size-6 !important;
    margin-right: $size-6 !important;
}

.m-h-auto {
    margin-left: $size-auto !important;
    margin-right: $size-auto !important;
}

.m-l-0 {
    margin-left: $size-0 !important;
}

.m-l-1 {
    margin-left: $size-1 !important;
}

.m-l-2 {
    margin-left: $size-2 !important;
}

.m-l-3 {
    margin-left: $size-3 !important;
}

.m-l-4 {
    margin-left: $size-4 !important;
}

.m-l-5 {
    margin-left: $size-5 !important;
}

.m-l-6 {
    margin-left: $size-6 !important;
}

.m-l-auto {
    margin-left: $size-auto !important;
}

.m-r-0 {
    margin-right: $size-0 !important;
}

.m-r-1 {
    margin-right: $size-1 !important;
}

.m-r-2 {
    margin-right: $size-2 !important;
}

.m-r-3 {
    margin-right: $size-3 !important;
}

.m-r-4 {
    margin-right: $size-4 !important;
}

.m-r-5 {
    margin-right: $size-5 !important;
}

.m-r-6 {
    margin-right: $size-6 !important;
}

.m-r-auto {
    margin-right: $size-auto !important;
}

.m-t-0 {
    margin-top: $size-0 !important;
}

.m-t-1 {
    margin-top: $size-1 !important;
}

.m-t-2 {
    margin-top: $size-2 !important;
}

.m-t-3 {
    margin-top: $size-3 !important;
}

.m-t-4 {
    margin-top: $size-4 !important;
}

.m-t-5 {
    margin-top: $size-5 !important;
}

.m-t-6 {
    margin-top: $size-6 !important;
}

.m-t-auto {
    margin-top: $size-auto !important;
}

.m-b-0 {
    margin-bottom: $size-0 !important;
}

.m-b-1 {
    margin-bottom: $size-1 !important;
}

.m-b-2 {
    margin-bottom: $size-2 !important;
}

.m-b-3 {
    margin-bottom: $size-3 !important;
}

.m-b-4 {
    margin-bottom: $size-4 !important;
}

.m-b-5 {
    margin-bottom: $size-5 !important;
}

.m-b-6 {
    margin-bottom: $size-6 !important;
}

.m-b-auto {
    margin-bottom: $size-auto !important;
}